In [42]:
import yaml
from sqlalchemy import create_engine, text
from sqlalchemy.inspection import inspect

with open('../config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_co = config['CO_SA']
    config_etl = config['ETL_PRO']

# Construct the database URL
url_co = (f"{config_co['drivername']}://{config_co['user']}:{config_co['password']}@{config_co['host']}:"
          f"{config_co['port']}/{config_co['dbname']}")
url_etl = (f"{config_etl['drivername']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['dbname']}")
# Create the SQLAlchemy Engine
co_sa = create_engine(url_co)
etl_conn = create_engine(url_etl)

In [43]:
inspector = inspect(etl_conn)
tnames = inspector.get_table_names()

In [45]:
with etl_conn.connect() as conn: 
    for table in tnames:
        print(table)
        query = text(f'ALTER TABLE {table} ADD PRIMARY KEY (key_{table})  ')
        conn.execute(query)
        conn.commit()

dim_persona
hecho_atencion
dim_medico
dim_servicio
dim_ips
trans_servicio
dim_fecha